[2014-08-15 10:53] arax opened #4 "Generating incomplete resource_tpl names for ONE+rOCCI"
Ad. https://github.com/EGI-FCTF/BDIIscripts/blob/69794c87cd18267c0a2eeaa354152b5cfe64ebd1/cloud_bdii/providers/opennebularocci.py#L104

`resource_tpl#term` is not a sufficient identifier for resource_tpl mixins. You should use `full_scheme#term`, both can be found in the same file:

1.) scheme, see https://github.com/EGI-FCTF/rOCCI-server/blob/master/etc/backends/opennebula/fixtures/resource_tpl/e

[2014-08-15 11:09] arax opened #5 "Generating incomplete os_tpl names for ONE+rOCCI"
See #4 , the same applies to `os_tpl` mixins. You should always use `full_scheme#term` not `os_tpl#term`.

In rOCCI-server the scheme is generated as

[code]

so it should be configurable by the site administrator.

This should be done for all available providers.

[2014-08-15 11:17] arax opened #6 "Generating invalid os_tpl terms for ONE+rOCCI"
Template name from OpenNebula cannot be (directly) used as a term in OCCI mixins. It has to be sanitized first. See below.

[code]

This is specific to rOCCI-server and OpenNebula. Other providers should be fine.

[2014-08-15 13:16] arax opened #7 "Generating os_tpl entries crashes on 'image_description' for ONE+rOCCI"
Virtual Machine Templates in OpenNebula don't have a (mandatory) `DESCRIPTION` element. Accessing a non-existent element as an array will produce an `IndexError` and crash the provider.

See https://github.com/EGI-FCTF/BDIIscripts/blob/69794c87cd18267c0a2eeaa354152b5cfe64ebd1/cloud_bdii/providers/opennebularocci.py#L150

[2014-08-15 14:26] #7 closed, assigned to nobody

[2014-08-15 14:29] #6 closed, assigned to nobody

[2014-08-15 15:37] #4 closed, assigned to nobody

[2014-08-15 15:38] #5 closed, assigned to nobody

[2014-08-15 20:51] arax opened #8 "os_tpl term escaping broken for ONE+rOCCI"
See https://github.com/EGI-FCTF/BDIIscripts/blob/master/cloud_bdii/providers/opennebularocci.py#L161

I would recommend replacing

[code]

with

[code]

(the former doesn't work for me)

Example for testing: `Ubuntu-Server-14.04-LTS-ht-xxl@fedcloud-dukan` with ID 84
Should be: `uuid_ubuntu_server_14_04_lts_ht_xxl_fedcloud_dukan_84`

[2014-08-18 08:33] #8 closed, assigned to nobody

[2014-10-20 16:23] enolfc opened #13 "Provider fails if no storage points are present"

[2014-10-27 15:14] enolfc opened #14 "Add creation date to VM images (ApplicationEnvironment)"

[2014-10-27 15:27] #13 closed, assigned to nobody

[2014-11-03 06:56] enolfc opened #15 "Use full URLs in template identifiers"
Only the full URI is guaranteed to be unique within the given domain (OOI/OCCI-OS/rOCCI-server instance).

[2014-11-06 08:28] enolfc opened #17 "Filter out published images"
Introduce a configuration option specifying which images to export according to
ownership. The administrator would then be able to say "export images
only for the following VOs. Or we can export only images created by vmcatcher.

[2015-09-22 06:43] enolfc opened #20 "Flavor identifiers need to match OCCI-OS identifiers"
Flavour names use to be something like "m1.tiny", this is not a valid OCCI identifier so OCCI-OS does the following substitutions:
term = term_name.strip().replace(' ', '_').replace('.', '-').lower()

this must be correctly shown in the bdii provider

[2016-01-19 10:42] arax commented on #20
Any progress on this?

[2016-01-19 11:02] enolfc commented on #20
Fixed in #21

[2016-01-19 11:02] #20 closed

[2016-04-25 11:36] alvarolopez opened #25 "Use "stevedore" to load classes"
We are using a simple classloader for loading the providers, we should rather move to stevedore and define entrypoints for the classes, instead of referencing them by the full namespace.

[2016-07-18 09:12] alvarolopez opened #27 "Python 3 support"
Current code is not Py3 compatible.

[2016-07-18 09:52] #27 closed

[2016-07-18 14:02] spinto commented on #27
I am out of the office until 10/08/2016.

For urgent matter, please contact the TEP Core Team (tepcoreteam@esa.int).

Note: This is an automated response to your message  "Re:
[EGI-FCTF/cloud-bdii-provider] Python 3 support (#27)" sent on 7/18/2016
11:52:31 AM.

This is the only notification you will receive while this person is away.

This message and any attachments are intended for the use of t

[2016-07-18 14:02] spinto commented on #27
I am out of the office until 10/08/2016.

For urgent matter, please contact the TEP Core Team (tepcoreteam@esa.int).

Note: This is an automated response to your message
"[EGI-FCTF/cloud-bdii-provider] Python 3 support (#27)" sent on 7/18/2016
11:12:08 AM.

This is the only notification you will receive while this person is away.

This message and any attachments are intended for the use of the ad

[2016-11-14 13:46] arax commented on #15
Any updates on this?

[2016-11-22 13:07] alvarolopez opened #34 "Use GLUE JSON rendering"
Implement the GLUE JSON rendering in addition to the LDIF one.

[2016-11-22 13:08] alvarolopez opened #35 "GLUE 2.1 rendering"

[2016-11-22 13:09] alvarolopez opened #36 "Documentation review"
The current README is hard to follow, we should make it more crisp, and add some proper documentation in separate files.

[2016-11-22 13:20] alvarolopez opened #37 "Use keystoneauth for authenticating"

[2016-11-22 15:27] cgimeno commented on #15
Correct me if I'm wrong.

Currently GLUE2EntityName is something like this:

GLUE2EntityName: os_tpl#a1173fe0-7493-469a-8f58-88aa4a9c9093

And with the proposed change should be something like this:

GLUE2EntityName: https://server4-eupt.unizar.es:5000/v2.0/os_tpl#8eb047cf-d296-4943-b113-9bd66e7e8677

Is this correct?

[2016-11-22 15:35] arax commented on #15
It would have to look like this
[code]
or
[code]
depending on whether it is a Resource Template or OS Template. In the end, the full URI (entity name) has to match one line in the output of
[code]
or
[code]

[2016-11-22 16:03] cgimeno commented on #15
https://github.com/EGI-FCTF/cloud-info-provider/pull/38 should solve this problem.

[2016-11-22 16:13] arax commented on #15
I'm afraid that doing this globally will break other providers (i.e., not OpenStack). Looking at the provider code, there seems to be a configuration option for this:

https://github.com/EGI-FCTF/cloud-info-provider/blob/master/cloud_info/providers/openstack.py#L114
https://github.com/EGI-FCTF/cloud-info-provider/blob/master/cloud_info/providers/openstack.py#L146

So maybe we just need to properly

[2016-11-22 16:41] cgimeno commented on #15
If this is only a OpenStack issue, then yes, I think that your approach is the best one, we should document that.

[2016-11-24 08:51] cgimeno commented on #15
The beggining of GLUE2ResourceID should match GLUE2EntityName?

Currently, GLUE2ResourceID is rendered like this:

resource_tpl#4_https://server4-eupt.unizar.es:5000/v2.0

Should it be rendered like this?

http://schemas.openstack.org/template/resource_tpl#4_https://server4-eupt.unizar.es:5000/v2.0

[2016-11-24 09:06] arax commented on #15
I have no idea, @enolfc ?

Btw. please, be careful about `resource` vs. `resource_tpl` and `os` vs. `os_tpl` in URIs. You have to report the same string as provided by OOI's query interface.

[2016-11-24 11:28] enolfc commented on #15
I think it will not hurt to add the prefix.

On Thursday, 24 November 2016, Boris Parak <notifications@github.com> wrote:

--
Enol Fernández | Cloud Technologist | EGI Foundation
enol.fernandez@egi.eu

[2016-11-29 11:52] cgimeno opened #39 "GLUE2ApplicationEnviromentAppVersion rendered as None"
Even if an image has been stored with correct metadata information, a "NONE" value is displayed under GLUE2ApplicationEnviromentAppVersion. This field should contain version information for each image

[2016-12-19 11:43] cgimeno commented on #15
Pull request: https://github.com/EGI-FCTF/cloud-info-provider/pull/41 solve this only for OpenStack, the rest of the providers remain unchaged.

If you want to check the output of this new version, you can see it in action at server4-ciencias BDII.

[2016-12-19 14:28] #15 closed

[2017-06-28 14:33] gwarf commented on #39
This should be fixed by #58

[2017-06-28 14:33] #39 closed

[2017-07-05 09:20] StephaneGerardVUB opened #62 "Cannot import defusedxml ElementTree and/or xmlrpc"
Hello, I have tested version 0.8.3-1.el6, and it gives the following error messages :

[root@rocci ~]# /var/lib/bdii/gip/provider/cloud-info-provider
Traceback (most recent call last):
  File "/usr/bin/cloud-info-provider-service", line 10, in <module>
    sys.exit(main())
  File "/usr/lib/python2.6/site-packages/cloud_info/core.py", line 204, in main
    bdii = cls_(opts)
  File "/usr/lib/python2

[2017-07-05 09:26] StephaneGerardVUB commented on #62
Problem fiixed after installing python-defusedxml.noarch. This should be a dependency of the cloud-info-provider RPM

[2017-07-05 09:28] arax commented on #62
We are discussing this issue in #61 right now.

[2017-07-05 09:58] gwarf commented on #62
Hi @StephaneGerardVUB

Yes defusedxml is a dependency and is not included in a dependency list as it is not in the default repository and it is only needed for OpenNebula and not for OpenStack nor Synnefo and as currently there is one package for all and we don't want people to have to install one pacakge they do not need, especially if it is in an external/additional repo.

As @arax said we are d

[2017-07-06 09:57] gwarf opened #63 "Create CMF-specific meta-packages including all required dependencies"
As reported in #62 and discussed in #61 we need to to create different CMF-specific packages with different naming to avoid conflicts that depend on cloud-info-provider and on the CMF-specific dependencies, this will allow to describe and enforce all the dependencies required for the chosen CMF.
For the python part the optional dependencies should be handled using  [extra requirements in setup.cfg

[2017-07-31 10:24] Pansanel commented on #37
Hi,
I can work on it. I have setup our sites for v3.
Jerome

[2017-08-01 07:11] alvarolopez commented on #37
Hi Jerome,

this was already done in this branch https://github.com/gwarf/cloud-info-provider/tree/glue_2.1_keystone

[2017-09-20 07:59] gwarf opened #64 "README: document EGI AppDB packages repositories"
EGI AppDB is used to host packages for the various supported OS, it should be documented in the README.
https://appdb.egi.eu/store/software/cloud.info.provider/releases/

[2018-03-30 13:14] #37 closed

[2018-03-30 16:08] gwarf commented on #64
It's documented.

[2018-03-30 16:08] #64 closed

[2018-04-06 14:10] gwarf commented on #35
Work on GLUE2.1 rendering started in my repo: https://github.com/gwarf/cloud-info-provider/tree/glue_2.1_keystone

[2018-04-06 14:13] gwarf commented on #36
According to [recommneded community standards](https://opensource.guide/) it's also required to add (or extract) this missing information:
- [ ] code of conduct
- [ ] Contributing
- [ ] License
- [ ] Issue or pull request template

[2018-04-24 13:12] gwarf commented on #34
Closing as this is supported by the actual version, one _just_ have to create appropriate templates and use them. See https://github.com/indigo-dc/cloud-info-provider-indigo for some example.

[2018-04-24 13:15] #34 closed

[2018-04-30 12:59] brucellino opened #76 "Improve community health."
This repository scores very low in the [Community Health](https://developer.github.com/v3/repos/community/) insight. In order to make it score better, and ensure a long-term healthy environment to community contributions, I propose to add the [Black Panter :fist_raised:](https://github.com/brucellino/black-panther) inspec compliance profile to the testing.

This would include adding a few sections

[2018-04-30 13:15] gwarf commented on #76
Looks great, tested locally and it would be really helpful.
Looking forward for your PR.

![screen shot 2018-04-30 at 15 04 43](https://user-images.githubusercontent.com/451417/39428865-40b93bb0-4c89-11e8-89c0-334de3f0a73b.png)

[2018-05-01 08:32] brucellino commented on #36
Most of the above are done in #77. I will take a look at the documentation, with virgin eyes.

[2018-05-01 08:57] brucellino opened #78 "Actually test the RPM building."
Travis tests the source code with tox, which is great and all... but the actual building of packages is not tested. I would propose adding a couple of lines to the `script` or `after_script` of the travis file.

Where we put the test depends on whether we want this to be a test which breaks the build or not.

[2018-05-01 09:01] brucellino commented on #14
can someone describe the issue here in a bit more detail please ? I have no idea what to address or how.

[2018-05-01 09:02] brucellino commented on #17
I realise this issue is hold but I want to help.

How would this be tested, anyone ?

[2018-05-01 09:18] brucellino commented on #25
@alvarolopez can you provide some suggestion of how you would do this with stevedore, compared to how things are done now ?

For example where would we use stevedore (which files ? all in `cloud_info` ?)

[2018-05-01 09:28] brucellino commented on #63
Just to understand (yes, I read #61) - are we talking about creating differently-named rpms and debs for the different cloud management frameworks ? If so, it would help to test that that is actually doable, by doing what I mentioned in #78, right ?

[2018-05-01 09:32] brucellino commented on #36
Added the license (apache 2.0, owned by @EGI-foundation

[2018-05-01 09:44] brucellino opened #79 "Why is Synnefo not included in the list of supported providers ?"
In the README (at least from bbf306c), there is mention of OpenStack and OpenNebula, but not Synnefo as a middleware provider. Is this a mistake or by design ?

[2018-05-01 19:37] enolfc commented on #79
The current code base does not support synnefo (not by design, simply because their changes were never merged).

There was an attempt back in the day: https://github.com/enolfc/cloud-info-provider/tree/synnefo_support

Any PR from synnefo will be welcomed.

[2018-05-01 19:37] #79 closed

[2018-05-01 19:48] enolfc commented on #14
This is probably not relevant anymore as we are moving towards GlueSchema 2.1 makes no sense to go into features here.

If there is the need for any dates in the new schema I suggest to open an issue for that.

[2018-05-01 19:48] #14 closed

[2018-05-02 08:12] gwarf commented on #76
Almost there, thanks @brucellino!

![screen shot 2018-05-02 at 10 10 55](https://user-images.githubusercontent.com/451417/39512421-3c2bd1c0-4df1-11e8-8bbd-2fee13f11ac0.png)

[2018-05-02 08:54] gwarf commented on #76
PR #77 states that copyright is owned by EGI Foundation, but it's not appropriate and should be discussed with the authors.

[2018-05-02 09:24] gwarf commented on #76
@alvarolopez highlighted in #77 that EGI Foundation should not claim the complete Copyright ownership unilaterally, let's discuss what is best to do.
- Removing copyright statement? (and relying informally on automatic copyright rules?)
- Having a generic/more inclusive copyright statement?
- Discussing copyright assignment?
- Mentioning EGI (but it's not a legal entity) instead of EGI Foundation?

[2018-05-02 11:48] brucellino commented on #76
I can live with that - but this is just stating the EGI owns the license. The license isn't copyright though... We definitely need consensus on who owns the license.

[2018-05-02 13:09] enolfc commented on #17
This is already partially implemented, shamelessly with different options for each provider:

For the ONE provider, a command line option (--cloudkeeper-images or equivalent --vmcatcher-images) prevents displaying information about those images without AppDB info

For the OS provider, an option in the configuration file (`require_marketplace_id`) does the same.

Would be good to unify implementati

[2018-05-02 13:16] enolfc commented on #76
@brucellino is it really just for the license? By reading that I assume that EGI owns the code as there is no other copyright information in the repo.

I would rather have a list of all the contributing institutions / individuals (I assume institutions should be fine here), we can easily get that from the repo.

[2018-05-02 14:37] gwarf commented on #76
@brucellino isn't it only the copyright owner that can decide what the license is?
And for me, the copyright mention in the license is to explicit who owns this copyright. But this was never really discussed. The fact is also that for some it will be their employer that will own the copyright of the work done, not the individual developer...

If the problem is making clear who are the contributors

[2018-05-02 15:51] brucellino commented on #76
I couldn't care less really which license we choose, as long as there is one and the right people get credit for their work. Since this needs to have an _actual_ discussion, I propose the following :

  1. We remove the license assertion from [the fashion police](https://github.com/EGI-Foundation/ansible-fashion-police), or at least accept more than one kind of license. But there must be a license

[2018-05-02 16:04] enolfc commented on #76
actually maintainer should be @gwarf :)

1. What does the fashion police needs to do with this? I'm a bit lost here

2. Ok with discussing this elsewhere

[2018-05-02 16:14] brucellino commented on #76
Sorry, you're right - the License assertion is done in the [community health](https://github.com/brucellino-black-panther) profile.

[code]

Maybe that is a wee bit too restrictive.

[2018-05-07 10:06] gwarf commented on #76
@alvarolopez could you please provide some feedback about this issue and/or about moving to discourse to discuss it?

[2018-05-07 10:08] brucellino commented on #76
Still waiting for 3 :+1:

[2018-05-09 10:37] alvarolopez commented on #76
Well, actually a lot of people have been maintaners: @enolfc, @spinto, @gwarf  and myself :-)

To be honest, personally I do not care, but somebody may raise this issue (now or in the future)

What I have seen in other projects is adding a header to each source file, where the individual copyrights are added when somebody edits that portion of code. Note that this can be also seen by some people a

[2018-05-15 09:48] gwarf opened #81 "A debug option should be added to help understanding problems"
Actually, there is no way to easily see what is the unfiltered output of the middleware APIs calls.

Having a `--debug` flag dumping the results of the API calls would greatly help to understand on which side some data is missing (ie CMD API-side vs cloud-info-provider-side).

[2018-05-23 13:43] enolfc opened #82 "Publish info on non-public flavors"
# Short Description of the issue

Flavours in OpenStack can be set as non-public, meaning they are only available for a given project. Although this is not the default behaviour, it may be a valid setup for the support of a VO on a site. Current code skips these:

https://github.com/EGI-Foundation/cloud-info-provider/blob/171843a75ddf0c49d5fa178f0d1d613b183df51a/cloud_info/providers/openstack.py#L

[2018-05-24 15:10] gwarf commented on #82
Thanks @enolfc.
@alvarolopez do you have any remarks regarding this? What was the reasoning behind adding such a check to filter out non-public images?

[2018-05-29 09:29] gwarf opened #83 "Automate package building with Jenkins"
Automatic package building should be done using the Jenkins provided for EGI by IFCA.

[2018-05-29 09:33] gwarf opened #84 "Enable complete testing inside Jenkins"
IFCA is operating a Jenkins deployment that can be used by EGI and used to test the cloud-info-provider.

Tests that should be enabled and used to validate PR:
- [ ] Code Style
- [ ] Unit test
- [ ] Code coverage

Future test to be added:
- [ ] Integration tests

[2018-05-29 09:35] brucellino commented on #84
@gwarf  code style is probably easy (flake8, yamllint) - but have you got ideas about how to do the integration test?

[2018-05-29 09:54] gwarf commented on #62
Moved to #63

[2018-05-29 09:54] #62 closed

[2018-05-29 09:59] gwarf commented on #84
For code style there is already some work integrated using `tox` so the main task will be to validate that all jobs are running.

Integration testing will be a big subject, no clear idea yet, don't hesitate to provide some.
For new release could automatically deploy a real test environment to do some real testing. But we may also want to have something that could be run more quickly using some sta

[2018-05-29 10:02] gwarf opened #85 "Use a messaging queue to transport cloud-info-provider output"
We should use a messaging queue to transport cloud-info-provider output.
Either a component should be added to this project or a dedicated project should be created.

[2018-05-29 10:03] gwarf opened #86 "Enable OpenID Connect based login"
It should be possible to authenticate with the Cloud Midlleware using an OpenID Connect token.

[2018-05-29 15:23] gwarf opened #87 "Rebase current work on GLUE 2.1"
GLUE 2.1 integration started in https://github.com/gwarf/cloud-info-provider/tree/glue_2.1_keystone but this branch needs to be rebased.

[2018-05-29 15:26] gwarf opened #88 "Update GLUE 2.1 implementation with latest changes"
Update GLUE 2.1 implementation with latest changes:
- [ ] Network ports-related information
- [ ] Public network information (DefaultNetworkType and PublicNetworkName)

[2018-06-07 10:27] alvarolopez commented on #25
We are using an `importutils` module that loads the classes for the providers [here (cloud_info/core.py#L29)](
https://github.com/EGI-Foundation/cloud-info-provider/blob/171843a75ddf0c49d5fa178f0d1d613b183df51a/cloud_info/core.py#L29).

Although this works, it is quite limited, and we should move to either plugins or extensions using stevedore (depending on which loading pattern we do want to use)

[2018-06-18 14:56] gwarf commented on #82
From https://docs.openstack.org/nova/pike/admin/flavors.html

**isPublic**: `Boolean value, whether flavor is available to all users or private to the project it was created in. Defaults to True.`

[2018-06-19 16:10] gwarf commented on #36
- [ ] The License should not be onwed by @EGI-Foundation but by some like "the Authors".
- [ ] Every provider should be docuented individually and completely

[2018-06-21 08:31] #82 closed

[2018-06-25 13:37] gwarf commented on #76
All copyright files should also be updated. Couldn't we point to this repo or to some AUTHORS file instead of having to manually update multiple files?

[2018-06-27 08:20] enolfc commented on #76
We should automatically generate the AUTHORS file based on git commits already:
See https://docs.openstack.org/pbr/3.0.0/#authors-and-changelog

Copyright files should just point to those authors, no?

[2018-07-20 09:47] brucellino commented on #78
Looks like this is done in #96

[2018-07-20 09:47] #78 closed

[2018-07-20 09:48] brucellino commented on #84
Looks like this is done in #96

[2018-07-20 09:48] #84 closed

[2018-07-20 09:48] brucellino commented on #83
Looks like this is done in #95 and #96

[2018-07-20 09:48] #83 closed

[2018-08-16 10:33] alvarolopez commented on #86
It is already possible to authenticate using OpenID Connect, as this is supported by the `keystoneauth1` library, introduced in fb2cd573, the only missing thing is documenting it.

[2018-08-16 10:46] enolfc commented on #86
Although using `keystoneauth1` makes this possible, selecting the default method as `v3password` at https://github.com/EGI-Foundation/cloud-info-provider/blob/master/cloud_info/providers/openstack.py#L374 makes that the oidc options are not available in the command line and therefore not working.

I managed to make it work by hardcoding a different default auth as I didn't have time for a general

[2018-08-30 07:31] gwarf commented on #87
Fixed by #99

[2018-08-30 07:31] #87 closed

[2018-08-30 09:48] gwarf opened #100 "Clarify status of shields branch"
@alvarolopez there is a [shields](https://github.com/EGI-Foundation/cloud-info-provider/tree/shields) branch, I presume it's realted to #97, can we delete it now?
(you should also have received an invitation to become admin of this repo, can you check?)

[2018-08-30 11:57] gwarf commented on #76
I propose to do something similar to what was done for the @EGI-Foundation/glite-info-update-endpoints repository: https://github.com/EGI-Foundation/glite-info-update-endpoints/pull/8

- So for the `AUTHORS` we could start feeling it using the git history, organize it, then configure pbr to not update the AUTHORS file (in order to allow to order/group people in the file as we need).
It's the way i

[2018-08-31 08:11] gwarf opened #101 "Coveralls tests should be correctly configured, nothing is tested as of now"
Even if it's actually quite convenient, coveralls tests should be fixed to actually do some code coverage tests...

[2018-08-31 08:16] enolfc commented on #101
This can be fixed by using the _right_ name of the package instead of cloud_info

[2018-09-13 06:39] gwarf commented on #101
This may only impact people using the pip module, and we don't expect to have any production deployment of it, so it's probably quite safe, no?

[2018-09-13 08:49] enolfc commented on #101
You mean this?
https://pypi.org/project/cloud-bdii-provider/

Because that's just so outdated...

The impact would be anyone using this module externally, which I highly doubt.

[2018-09-13 08:56] enolfc commented on #101
Should I submit a PR to the big merge for this?

[2018-09-13 19:59] gwarf commented on #101
No in fact using with `pip install .` and they would have multiple cloud
info

On Thu, Sep 13, 2018, 10:49 Enol Fernández <notifications@github.com> wrote:

--
Baptiste Grenier
EGI Foundation - Operations Officer
Phone:              +31 627 860 852
Skype:         baptiste.grenier.egi

[2018-09-17 08:12] enolfc commented on #101
I would consider that a "development environment" and assume the developer knows what is doing.

[2018-09-17 08:49] gwarf commented on #101
Closing as it was merged to the big GLUE 2.1 rebase PR: #99

[2018-09-17 08:49] #101 closed

[2018-09-26 14:16] #76 closed

[2018-09-26 20:59] alvarolopez commented on #100
Yes please :+1:

[2018-09-26 21:04] alvarolopez commented on #85
I would go with a different publisher, probably as a plugin to be loaded whenever #25 is done...

[2018-09-27 05:56] enolfc commented on #85
For the time being, this will be handled by a wrapper and gradually moved to the cloud-info-provider.

[2018-09-27 05:57] enolfc commented on #100
Branch is gone

[2018-09-27 05:57] #100 closed

[2018-10-05 10:10] gwarf opened #109 "Automatic package building is broken"
Credentials for automatic package building are broken:
https://travis-ci.org/EGI-Foundation/cloud-info-provider/jobs/437503503#L2893

[2018-10-15 16:14] #109 closed

[2018-10-16 11:50] gwarf commented on #35
Addressed by #99

[2018-10-16 11:50] #35 closed

[2018-10-16 12:01] kkoumantaros commented on #85
Is there a pattern you've agreed upon for the topic naming  is it something like fedcloud_site_name or something similar ?

[2018-10-16 13:09] enolfc commented on #85
The agreed naming so far is:

  SITE_<name of site in GOCDB>_ENDPOINT_<identifier of the endpoint in GOCDB>

Adding @mhaggel to ensure this is still ok

[2018-10-16 13:25] #17 closed, assigned to nobody

[2018-10-16 13:42] mhaggel commented on #85
Yes i confirm that this is ok.

Another way to go, less friendly though, could be:
SITE_<identifier of the site in GOCDB>_ENDPOINT_<identifier of the endpoint in GOCDB>

[2018-10-17 13:06] kkoumantaros commented on #85
Ok we can close this issue with the decision that for topics we will use SITE_<name of site in GOCDB>_ENDPOINT_<identifier of the endpoint in GOCDB>

[2018-10-17 13:58] mhaggel commented on #85
Just nu i realized that the github editor does render my previous comment correctly.
I wrote:
Another way to go, less friendly though, could be:
SITE_ < identifier of the site in GOCDB > \_ENDPOINT_ < identifier of the endpoint in GOCDB >

NOT just SITE_ENDPOINT

[2018-10-30 08:43] orviz opened #117 ""Could not authorize user in project '<os_project_name>'" when getting project's ID through keystoneauth's session"
# Short Description of the issue

keystoneauth's session is using the project name in the os_project_id attribute, resulting in a permission denied error (see traceback below).

Moreover the domain has to be added when creating the session as the project is only unique within a given domain in keystone v3.

## Environment

- Operating System: Debian 9
- python version: 2.7.13
- OpenStack version:

[2018-10-30 11:51] gwarf commented on #117
As discussed in the PR, this works if you use (as shown in the sample configuration files) project_id instead fo project names. Project ID's are unique across the domains so there is no need to introduce the domain.
Nevertheless, it may be appropriate to make this more clear, and to had some flexibility and clarity @enolfc proposed the following:
For OpenStack:
[code]

For OpenNebula:
[code]

Are

[2018-10-31 12:54] orviz commented on #117
I have no access to a ONE deployment so I could not test the modifications done in #119 with regards to this framework. We shoulddouble check that everything is right there.

[2018-11-13 23:07] enolfc opened #120 "Add GOCDB endpoint id"
# Short Description of the issue

In order to facilitate discovery and linking information the GOCDB id of the service endpoint should be added to the OtherInfo in the Glue Endpoint.

## Environment

N/A

- Operating System:
- python version:
- OpenStack version:

## Steps to reproduce
N/A

## Logs, stacktrace, or other symptoms
N/A

[code]

# Summary of proposed changes

Add the GOCDB endpoint id

[2018-11-22 09:24] enolfc opened #121 "Validation of types in GlueSchema2.1"
# Short Description of the issue

Some fields have defined types (specially closed enums) that we should check that the values we publish are within the allowed values. See for example QualityLevel_t, which populates the GLUE2ServiceQualityLevel and is basically taken from the the configuration file without any validation

## Environment
N/A

- Operating System:
- python version:
- OpenStack versi

[2018-11-22 15:32] #117 closed

[2018-11-29 10:11] gwarf commented on #121
First review done by @enolfc.
Final refiew be done by @gwarf

[2018-12-17 09:53] orviz opened #125 "(OpenStack) InfiniBand support"
# Short Description of the issue

As part of the requirements of DEEP project, we have implemented infiniband support for OpenStack. As described in [1], this implementation relies on the flavor's metadata (extra_specs) in order to extract this information. Both extra_specs' key and value can be provided at runtime via two new command line arguments.

In the current implementation of cloud-info-pr

[2018-12-17 12:59] enolfc opened #128 "Missing manager to endpoint and manager to share relations"
# Short Description of the issue

the manager object does not have endpoint or share relations

## Environment

- Operating System:
- python version:
- OpenStack version:

## Steps to reproduce

## Logs, stacktrace, or other symptoms

[code]

# Summary of proposed changes

[2018-12-19 14:09] enolfc opened #131 "Test if there are non ascii characters in templates"
# Short Description of the issue

We should avoid #126 happening again by automatically testing that there are no non-ascii chars in the templates.

[2018-12-19 14:16] gwarf commented on #131
A few possibilities:
* https://unix.stackexchange.com/questions/194435/check-whether-text-contains-non-ascii-characters-in-a-shell-script
* https://bytes.com/topic/python/answers/606938-finding-non-ascii-characters-set-files
* https://nokyotsu.com/qscripts/2010/04/check-if-file-contains-special-non.html
https://stackoverflow.com/questions/35889505/check-that-a-string-contains-only-ascii-characters

[2018-12-20 12:21] enolfc commented on #125
I think this is nice addition and by reading the description at the DEEP fork, the implementation seems to be doing the right thing. My only doubt is what are the sensible defaults for the new arguments. I'd suggest to send a PR to bring this in.

[2018-12-20 14:50] #131 closed

[2019-01-08 10:13] gwarf commented on #120
Fixed by #129

[2019-01-08 10:13] #120 closed

[2019-01-09 07:05] enolfc commented on #25
I suggest to move this to a 1.x update as it will require some refactoring

[2019-01-09 09:09] alvarolopez commented on #25
This is being carried out here (WIP) https://github.com/indigo-dc/cloud-info-provider-deep/pull/10

[2019-01-09 09:31] alvarolopez commented on #25
Probably during January. The code is ready to be used, the only missing piece are the unit tests.

[2019-01-09 10:06] gwarf commented on #81
Fixed by #134

[2019-01-09 10:06] #81 closed

[2019-01-24 09:34] gwarf commented on #25
Fixed by #137

[2019-01-24 09:34] #25 closed

[2019-01-29 07:41] enolfc opened #140 "SSL utils fail when URL does not contain port"
# Short Description of the issue

Keystone URLs without port fail at:
https://github.com/EGI-Foundation/cloud-info-provider/blob/master/cloud_info_provider/providers/ssl_utils.py#L46

The default port should be used if not explicitly included in the URL

## Environment

- Operating System:
- python version:
- OpenStack version:

## Steps to reproduce

Use a Keystone URL without port

## Logs, stac

[2019-01-29 10:33] #140 closed

[2019-01-30 12:25] enolfc opened #143 "Providers should be distributed in separate packages"
# Short Description of the issue

Currently the providers are all bundled together in the same package and meta-packages do include extra dependencies. This should be split so we have a package per provider that contains both the code and dependencies as needed.

Code is almost ready as we have now stevedore for loading modules.

[2019-01-30 20:11] gwarf opened #144 "Sometimes the Travis jobs are not reporting errors even if some subtasks are failing"
It was seen a couple of times that travis jobs reported a success even if one of the subtask failed. It's related to task being run into containers and not propagating the error to the parent shell.

[2019-01-30 20:18] gwarf commented on #144
Example: https://travis-ci.org/EGI-Foundation/cloud-info-provider/jobs/486491283#L3263-L3268

[2019-02-06 13:07] marcoverl opened #149 "Option --format glue21 doesn't work"
# Short Description of the issue
The command below fails:
[code]
## Environment

- Operating System: CentOS7
- python version: 2.7.5
- OpenStack version: Rocky

## Steps to reproduce
[code]
using the openstack.yaml as shown in https://pastebin.com/bdtuGaiD

## Logs, stacktrace, or other symptoms
The command output is:
[code]
# Summary of proposed changes

things work after commenting with ## the l

[2019-02-06 13:26] gwarf commented on #149
Thanks @marcoverl we will look at this ASAP.

[2019-02-20 07:29] enolfc opened #150 "Hardware information on flavours"
# Short Description of the issue

Ideally, the flavours description should include some information about the underlying hardware:
 - type of CPU
- overcommitment (if any)
- type of disk (e.g. SSD)
- type of network

while some of this is already provided, other info not.

Should check what is realistic to provide in an automated way and how to add the information to the Glue Schema.

[2019-02-20 17:14] gwarf commented on #149
So I'm able to reproduce the issue, it seems to happen for the enmr.eu, not with the fedcloud.egi.eu VO.
Will debug this.

[2019-02-20 17:32] gwarf commented on #149
OK, so the problem is related to this image that is having traffic rules: https://appdb.egi.eu/store/vappliance/scipioncloud.gpu/vaversion/latest
And in fact the format the template is expecting and the format that is used by the AppDB differ, we will clarify this with @mhaggel.

[2019-02-20 18:04] gwarf commented on #149
So for the record, the code is expecting to receive a dict following this syntax:
[code]
Whereas the image metadata contains this for `ad:traffic_in`:
[code]

So once discussed with @mhaggel we will fix the code.

[2019-02-21 14:57] gwarf commented on #149
OK, escalated to `cloudkeeper` to clarify the format: https://github.com/the-cloudkeeper-project/cloudkeeper/issues/78

[2019-02-21 16:22] #149 closed

[2019-03-04 16:16] gwarf opened #153 "Release version 0.11.3"
* Add output templates for CMDB. (Pablo Orviz)
* Fix network info (#151). (Baptiste Grenier)
* Update releasing documentation. (Enol Fernandez)

[2019-03-04 21:52] #153 closed

[2019-03-06 07:39] enolfc opened #156 "Automate release process"
# Short Description of the issue

Current release process requires manually editing several files (rpm and deb specs, zenodo information file, authors, changelog) with same information in slightly different formats. This could be automated with tools like https://github.com/nokia/git-changelog-generator

# Summary of proposed changes

Automate release as much as possible, ideally, creating a relea

[2019-03-06 09:01] gwarf commented on #156
Fully agree, it's really worth having a look as it's currently painful, error-prone and time-consuming.
Some time agoi @brucellino also pointed https://github.com/genuinetools/pepper that could help too.

[2019-07-02 13:28] gwarf opened #165 "Enforce the usage of a code formatter: black, prettier"
Enforce the usage of a code formatter to have consistent formatting.
For python files [black](https://black.readthedocs.io/en/stable/) can be used.
For other files [prettier](https://prettier.io/) is a nice solution.

Proposed steps:
- [x] setup travis/Jenkins testing for python format conformance using black
- [x] reformat Python files using black
- [ ] setup travis/Jenkins test for other file ty

[2019-07-23 07:51] enolfc opened #167 "Release version 0.11.4"
* Fix get instances for volume-based instances (Enol Fernández)
* Add external authentication plugin support (Enol Fernández)
* Add OpenID Connect refresh plugin (OpenStack) (Enol Fernández)
* Python 3 fixes (Enol Fernández)
* Pythonize only for Ruby dict-like strings (Pablo Orviz)
* Fix: use is_public=None to fetch both public and private flavors. (Pablo Orviz)
* RELEASING: document making a rele

[2019-09-17 12:31] enolfc commented on #167
This was already released :)

[2019-09-17 12:31] #167 closed

[2019-09-17 12:34] enolfc opened #169 "OpenNebula provider fails to init"
# Short Description of the issue

OpenNebula provider won't instantiate, giving a cryptic error:
[code]

## Environment

CentOS 7 with `cloud-info-provider-opennebula-0.11.4-1.el7.noarch` and
`cloud-info-provider-0.11.4-1.el7.noarch`

- Operating System:
- python version:
- OpenStack version:

## Steps to reproduce

Just run the provider

## Logs, stacktrace, or other symptoms

[code]

[2019-10-03 15:07] #169 closed

[2019-10-03 15:08] enolfc opened #171 "Release 0.11.5"
# Short Description of the issue

Release 0.11.5

## Environment

- Operating System:
- python version:
- OpenStack version:

## Steps to reproduce

## Logs, stacktrace, or other symptoms

[code]

# Summary of proposed changes

- [x] Open an issue to track the release process
- [x] Checking changes since latest tag (using browser or CLI)
- [x] Agreeing release version
- [x] Preparing changelog
- [

[2019-10-04 06:12] enolfc commented on #171
Changes:
https://github.com/EGI-Foundation/cloud-info-provider/commit/c98e54369acd7589c3e6f47709a91ffee9ba5c0a

[2019-10-04 07:49] enolfc commented on #171
Changelog:
* Fri Oct 04 2019 Enol Fernández <enol.fernandez@egi.eu> 0.11.5
- Add compatibility with CentOS 7 libraries. (Enol Fernández)
- Fix GOCDB information for OpenNebula provider. (Enol Fernández)
- Use system CAs everywhere. (Enol Fernández)
- Fix OpenNebula provider initialisation. (Enol Fernández)

[2019-10-04 09:02] #171 closed

[2019-10-04 12:12] Pansanel opened #173 "Issue with get_endpoint_ca_information function call"
The function ssl_utils.get_endpoint_ca_information use three argument in providers/openstack.py:
https://github.com/EGI-Foundation/cloud-info-provider/blob/27e1877a35a82aa74be31184ffc1532ab6390119/cloud_info_provider/providers/openstack.py#L111

However, the function takes only two arguments in ssl_utils:
https://github.com/EGI-Foundation/cloud-info-provider/blob/27e1877a35a82aa74be31184ffc1532ab6

[2019-10-04 12:17] enolfc commented on #173
Thanks @Pansanel  for reporting the issue
It seems we miss some good testing here :(

[2019-10-04 12:19] enolfc commented on #173
Still 0.11.4 should be feature-wise the same for OpenStack, so no need to update from your side.

[2019-10-17 16:00] kira2600 commented on #173
Hello.
Getting the same issue on 0.11.5:

[code]

[2019-10-18 05:59] enolfc opened #174 "Error when getting appliance info"
# Short Description of the issue

v0.11.4 fails at CESNET-MCC when trying to get appliance info:

[code]

[2019-10-18 06:00] enolfc commented on #173
Hi @kira2600

thanks for reporting about 0.11.4 too. I don't get this issue when running against your site with that same version for a few VOs I'm member of (but I'm getting a different one regarding the VM images #174).

I'm trying to have them fixed asap.

[2019-10-18 08:48] enolfc commented on #173
I close this issue as #175 is merged.

@kira2600, can we check via email/another issue the bug you are hitting with 0.11.4? I'm not able to reproduce

[2019-10-18 08:48] #173 closed

[2019-10-31 13:41] enolfc opened #179 "Release 0.11.6"
# Short Description of the issue

Prepare and release 0.11.6

[2019-11-05 09:02] enolfc commented on #85
This is partially fixed in #178 . Only missing bit would be to automatically generate the topic for publication, which can be done easily with code already available but it would require some refactoring to get the information to the right place.

[2019-11-05 15:36] gwarf commented on #179
* Changes since last version: https://github.com/EGI-Foundation/cloud-info-provider/compare/0.11.5...master

Changelog
[code]

Release Notes
* Multiple output plugin are now available (STDOUT and Argo Messaging System)
* OpenNebula sites have to ensure that they publish both to BDII and AMS
  * an update of the configuration and parameters is required as documented in the README.md

[2019-11-05 16:08] enolfc commented on #179
I would use:
* Multiple output plugins are now available (`stdout` for standard output and `ams` for Argo Messaging System)

[2019-11-06 10:54] gwarf commented on #179
Fixed by #181

[2019-11-06 10:54] #179 closed

[2019-11-06 16:52] gwarf opened #182 "Jenkins jobs are failing"
Jenkins jobs are failing while building the packages as it seems that the appropriate github tag is not checked out so python-build is not able to find the expected source file:
https://jenkins.egi.ifca.es/blue/organizations/jenkins/Pipeline-as-Code%2Fcloud-info-provider/detail/master/57/pipeline/

![Screenshot 2019-11-06 at 17 53 31](https://user-images.githubusercontent.com/451417/68319307-69fa0

[2019-11-06 16:55] gwarf commented on #182
Hi @orviz would you be able to provide some help with this?

[2019-11-07 10:47] orviz commented on #182
sure @gwarf I'll take a look

[2019-11-11 15:34] orviz commented on #182
The RPM building stage failed as a consequence of the missing `python-pbr` module. EPEL repository was not available in the environment so this requirement was not installed. It has been [fixed](https://github.com/indigo-dc/ci-images/commit/dfedd5de81f00360246014967d5f779b6366c567) in the relevant Docker image used for running this stage.

The PR above complements this fix.

[2019-11-12 09:02] gwarf commented on #182
Thanks @orviz !

[2019-11-12 09:02] #182 closed

[2019-11-12 10:34] orviz opened #184 "0.12.0 fails to verify the certificate of GOCDB API endpoint"
# Short Description of the issue

While validating 0.12.0 release for CMD, the provider execution failed to verify GOCDB endpoint when `--insecure` option is not used (see detailed deployment in [1]).

I could not find out a way to pass the CA path with the certificates to trust.

[1] https://jenkins.egi.ifca.es/job/QualityCriteriaValidation/job/cloud-info-provider/93

## Environment

- Operating

[2019-11-12 10:39] enolfc commented on #184
We simplified the CA management to just rely on requests and system defaults in 0.11.4 (before for GOCDB the CA path was hardcoded).
This change implies that IGTF CAs should be included in the requests bundle.
If we really want to allow CAs configuration we should review all code and not just the gocdb.py module.

Not sure how to better approach this :(

[2019-11-12 10:54] gwarf commented on #184
This is documented on https://github.com/EGI-Foundation/cloud-info-provider#cas
For me it's fine to leave it like this, but maybe you have another alternative to propose @orviz ?

[2019-11-12 10:57] gwarf commented on #184
But we could also depend on the CA RPM/deb metapcakges and use the related specific path.

[2019-11-12 11:10] orviz commented on #184
The current approach is the less intrusive, but in practice (since it is primarily used in EGI Fedcloud) having it hardcoded would prevent from recurring questions from users that do not read the documentation (just like me :P).

If you ask me I prefer the current one, I can update the ansible role accordingly, and stated clearly in the release notes.

[2019-11-12 11:23] gwarf commented on #184
So it's part of a previous release: https://github.com/EGI-Foundation/cloud-info-provider/releases/tag/0.11.5.
We can clarify those release notes, but not sure we should include it in the current/new one.

So do we all agree that we keep things like this in this repo and that you update the ansible role?

[2019-11-12 11:26] gwarf commented on #184
I've updated https://github.com/EGI-Foundation/cloud-info-provider/releases/tag/0.11.5

[2019-11-12 12:56] orviz commented on #184
thanks @gwarf the [ansible role](https://github.com/egi-qc/ansible-role-cloud-info-provider/commit/2cc0241b1149d42f4cd0c104dfce88e8ad95f0d1) tackles now these steps.

The last [CMD validation job ](https://jenkins.egi.ifca.es/job/QualityCriteriaValidation/job/cloud-info-provider/97/) has been successfully executed so we can close the issue.

[2019-11-12 13:46] gwarf commented on #184
Thanks!

[2019-11-12 13:46] #184 closed

[2019-11-14 08:55] gwarf opened #185 "Add a changelog to the project"
Changes are mainly logged in the releases page and RPM/deb files, it would be convenient to have a changelog collecting them.
https://keepachangelog.com/en/1.0.0/

[2019-12-19 09:02] enolfc opened #186 "Add project name and domain name information"
# Short Description of the issue

We are now providing the project id in GLUE2CloudComputingShareProjectID, but some OpenStack clients expect project name/project domain instead. It would be good to provide this information also for those clients.

## Environment

- Operating System:
- python version:
- OpenStack version:

## Steps to reproduce

## Logs, stacktrace, or other symptoms

[code]

# Su

[2019-12-19 10:02] enolfc opened #187 "Review documentation"
# Short Description of the issue

Do a critical review of the existing documentation and consider creating readthedocs pages also

## Environment

- Operating System:
- python version:
- OpenStack version:

## Steps to reproduce

## Logs, stacktrace, or other symptoms

[code]

# Summary of proposed changes

[2020-10-23 11:25] enolfc opened #193 "Improve logging"
# Short Description of the issue

Logging is just using the basic default setting of python which makes it not very useful for production.

[2020-11-11 07:11] enolfc commented on #165
This can be closed as we have the superlinter in github

[2020-11-11 07:11] #165 closed

[2020-11-11 07:14] enolfc opened #199 "Release 0.12.1"
# Short Description of the issue

Prepare new release 0.12.1

[2020-11-11 07:36] enolfc opened #200 "rpmlint"
# Short Description of the issue

Get back rpmlint in testing

<!--

[2020-11-19 09:41] enolfc commented on #85
This is done now as of #178, improvements may come later

[2020-11-19 09:41] #85 closed

[2020-11-19 10:02] enolfc commented on #199
Released with #202

[2020-11-19 10:02] #199 closed

[2020-11-19 10:03] enolfc opened #211 "Ensure prepare release action does not re-create existing release"
# Short Description of the issue

whenever the prepare release is triggered, if the relelase already exists, just ignore.

[2020-12-16 11:04] enolfc commented on #185
This is now available for releases 0.12.0 onwards

[2020-12-16 11:04] #185 closed

[2020-12-16 11:05] enolfc commented on #156
Now available as github actions

[2020-12-16 11:05] #156 closed

[2020-12-16 11:05] enolfc commented on #144
No longer using travis...

[2020-12-16 11:05] #144 closed

[2020-12-16 11:06] enolfc commented on #187
Duplicate of #36, closing

[2020-12-16 11:06] #187 closed

[2021-01-22 13:51] orviz opened #213 "Default values for compute's global fields are overriding the ones set statically (through config file)"
# Short Description of the issue

If a default value is set for a global field inside `static.get_compute_endpoint_defaults()`, this value is overriding the one set in the YAML configuration file. If this bug gets confirmed, any global field set by the user within `compute` is being ignored.

## Environment

- Operating System: Debian 10
- python version: 3.9.1
- OpenStack version: Rocky

## Steps

[2021-01-22 14:24] orviz commented on #125
Addressed in #214

[2021-01-22 14:50] enolfc opened #215 "Better configuration"
# Short Description of the issue

We keep adding options for the CLI but it would be good to also have some sort of configuration file where all the different options could be specified

[2021-02-08 11:42] enolfc opened #216 "timeouts?"
# Short Description of the issue

It seems cloud-info-provider hangs from time to time, we should ensure there are timeouts for every connection that we make to avoid this situation

## Environment

- Operating System:
- python version:
- OpenStack version:

## Steps to reproduce

## Logs, stacktrace, or other symptoms

[code]

# Summary of proposed changes

[2021-05-13 06:33] enolfc opened #223 "Release new package version"
# Short Description of the issue

New minor release 0.12.2 with the recent fixes
Also testing the release procedure

[2021-05-13 14:03] #216 closed

[2021-07-12 05:47] enolfc commented on #223
This is done

[2021-07-12 05:47] #223 closed

[2022-07-07 12:06] enolfc opened #232 "Add Keystone authentication protocol"
# Short Description of the issue

Add information on the URL to use for authentication in Keystone.
Some sites use "oidc" others "openid" so this should be discoverable